:root{
    --base-spacing-unit: 24px;
    --half-spacing-unit: calc(var(--base-spacing-unit) / 2);

    --color-alpha: #1772FF;
    --color-form-highlight: #EEEEEE;
}
.container{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.admin-panel{
    display: flex;
	justify-content: center;
	gap: 150px;

}
.mainBlock{
    display: flex;
    gap: 35px;
}
.adding-form , .search-panel{
    display: flex;
    flex-direction: column;
	align-items: center;
    gap: 15px;
}
.adding-form button{
	width: 50%;
	padding: 5px 15px;
	border: 1px solid rgba(107, 104, 104, 0.87);
	cursor: pointer;

}
.adding-block h2 {
	margin-bottom: 15px;
	text-align: center;
}
.input-block{
	display: flex;
	flex-direction: column;
	
}
.input-block input{
	margin-top: 4px;
	padding: 5px;
	outline: none;
	border: 1px solid rgb(118, 118, 118);
	background-color: rgba(20, 19, 19, 0.562);
	box-shadow: 0.5rem 0.3rem 0.2rem rgba(82, 81, 81, 0.274);
	transition: all 0.3s ease;
	
}
.table-header {
	display:flex;
	width:100%;
	background:#000;
	padding:var(--half-spacing-unit * 1.5) 0;
}
.table-row {
	font-size: 13px;
	display:flex;
	padding: 7px;
	width:100%;
	padding:var(--half-spacing-unit * 1.5) 0;
	
	&:nth-of-type(odd) {
		background-color: rgb(117, 117, 116);
	}
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
	width: 180px;	
}

.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:var(--base-spacing-unit);
	padding-right:var(--base-spacing-unit);
	
}
.loading-block{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
	gap: 15px;
	flex-direction: column;
	justify-content: center;
}
.loader {
	width: 48px;
	height: 48px;
	display: inline-block;
	position: relative;
	
}
.loader::after,
.loader::before {
	content: '';  
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 2px solid #FFF;
	position: absolute;
	left: 0;
	top: 0;
	animation: animloader 2s linear infinite;
}
.loader::after {
	animation-delay: 1s;
}

@keyframes animloader {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@media (any-hover: hover) {
	.input-block input:focus, .input-block input:hover {
	  box-shadow: none;
	}
	.submit_btn:hover {
	  box-shadow: none;
	}
	.submit_btn:hover img {
	  transform: translateX(5px);
	}
}
